*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    background-color: #1c1c1c;
}


a{
    text-decoration: none;
    color: white;
}
/* start of navBar style */

nav{
    display: flex;
    background-color: #eb5f2800;
    padding: 10px 15px;
}

nav a{
    display: inline-block;
    padding: 5px;
    transition: 0.3s;
}

nav a:hover{
    color: rgb(68, 68, 68);
}

.brand{
    color: white;
    border-right: 2px solid white;
    font-weight: bold;
}

.brand:hover{
    color: rgb(68, 68, 68);
    /* background-color: rgb(68, 68, 68); */
    transition: 0.3s;
}

.main-menu{
    /* flex-grow: 1; */
}

.search-form{
    flex-grow: 1;
}

.search-form form{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.search-form input{
    border: 1px solid rgb(207, 207, 207);
    border-right: 0;
    height: 33px;
    width: 35%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 15px;
}

.search-form button{
    height: 33px;
    border: 1px solid rgb(207, 207, 207);
    border-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.user-menu{
    color: whitesmoke;
}

/* end of navBar style */


main{
    display: flex;
    margin: 15px 0px;
    /* margin-top: 1rem; */
}

main section{
    margin: 0px 15px;
}


/* start player section style */

#player{
    width: 65%;
}

video{
    width: 100%;
    margin-bottom: 10px;
}

.video-details h1{
    margin: 0px;
    color: #fafaff;
}

.video-details{
    display: flex;
    justify-content: space-between;
}

.views{
    color: rgb(189, 189, 189);
    font-size: 13px;
}

.functions button{
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.functions .fa-thumbs-up , .fa-thumbs-down , .fa-share{
    font-size: 16px;
}

.description p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 12px;
    color: #fafaff;
}

.comments form{
    display: flex;
}

.comments textarea{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    border-right: 0;
    width: 50%;
    padding: 3px;
}

.comments button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    border-left: 0;
}

.comments #list{
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #333333;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}

.comments .list-items:nth-child(odd){
    border-bottom: 1px solid #898989;
    margin-bottom: 15px;
}
.comments .list-items:nth-child(even){
    border-bottom: 1px solid #898989;
    margin-bottom: 15px;
}
.comments .list-items:last-child{
    border: 0;
}

.user-avatar{
    display: flex;
    align-items: center;
}

.user-avatar .avatar{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: gray;
}

.user-avatar .username{
    margin-left: 2%;
    color: #fafaff;
    font-weight: 600;
}

.user-comment{
    padding: 1rem 3rem;
    width: 80%;
    text-align: start;
    color: #fafaff;
}

.user-function{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.user-function i{
    font-size: 15px;
    /* padding: 10px; */
}

.user-function button{
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
    margin:  5px;
    cursor: pointer;
    transition: 0.3s;
}

.user-function button:hover{
    background-color: #d5d5d5;
}


/* end player section style */

/* start suggested section style */

#suggested{
    width: 35%;
    height: 100vh;
    overflow: auto;
}

.flex-container{
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    /* padding: 0px 0px; */
}

.flex-item{
    display: flex;
    margin-bottom: 15px;
    background-color: #333333;
    border-radius: 5px;
    /* box-shadow: 1px 1px 9px 5px rgba(171,170,170,0.57);
    -webkit-box-shadow: 1px 1px 9px 5px rgba(171,170,170,0.57);
    -moz-box-shadow: 1px 1px 9px 5px rgba(171,170,170,0.57); */
}

.flex-item-body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-item-body h5, p {
    margin: 8px;
    color: #fafaff;
}

.video-thumb{
    position: relative;
    height: 110px;
    width: 220px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-length{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.706);
    color: white;
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
    bottom: 3px;
    right: 3px;
}

.video-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.video-info {
    font-size: 0.8rem;
}

.text-limit{
    margin: 0px;
    margin-left: 8px;

    margin-right: 6px;

    margin-bottom: 4px;
    margin-top: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.view-text{
    font-size: 0.7rem;
}

.font-bold{
    font-weight: 600;
}


/* end suggested section style */



/* start footer */

footer{
    padding: 10px;
    text-align: center;
    color: #fafaff;
}
/* end footer */


@media screen and (max-width:768px) {
    nav {
        flex-direction: column;
    }
    nav a{
        
        margin-bottom: 10px;
    }
    nav .brand{
        border-right: none;
    }
    nav .search-form form , .search-form input{
        width: 100%;
    }
    nav .user-menu{
        margin-top: 10px;
    }
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main section {
        margin: 0px;
        padding: 5px;
    }
    main #player {
        width: 96%;
    }
    main #suggested {
        width: 95%;
    }
    .user-comment {
        padding: 10px;
        width: 80%;
        text-align: start;
    }
}